body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.sec{
    display: flex;
    justify-content: space-between;
    height: 80vh;
    margin: 0;
    padding: 20px 40px;
}
.top_banner{
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;
}
.sowaib{
    width: 500px;
}
span{
    color: rgb(241, 133, 93);
}
.left{
    width: 50%;
}
p{
    text-align: justify;
}
.btn{
    color:white;
    background-image: linear-gradient(to right bottom, orange, red);
    padding: 20px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 800;
}
.middle_banner{
    background-image: url(../images/dream-bg.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}