body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.common-section {
    height: 100vh;
    margin-bottom: 15px;
    padding: 0;
}

.bg-1 {
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;
}

.bg-2 {
    background-image: url(../images/dream-bg.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
}

.bg-3 {
    background-image: url(../images/exp-bg.png);
    background-repeat: no-repeat;
    background-position-y: center;
}

.fexible-container {
    display: flex;
}

.half-width {
    width: 50%;
    margin: 10px 20px;
    padding: 10px 15px;
}

.half-width img {
    width: 100%;
}

h1 {
    font-size: 40px;
}

p {
    text-align: justify;
}

.btn {
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    padding: 15px 40px;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(to bottom right, orange, red);
    border-radius: 5px;
}

.ex-h3 {
    color: orange;
}

.same-width {
    width: 38%;
    margin-left: 5%;
    padding: 2%;
    box-shadow: 5px 5px 10px grey;
    border-radius: 5px;
}

.full-stack-developer {
    border-left: 7px solid tomato;
}

.baby-developer {
    border-left: 7px solid blue;
}

footer p {
    text-align: center;
}